/* src/components/ProductCard.css */
.product-card {
  border: 2px solid var(--cor-principal);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 250px;
}

.product-card img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.product-card button {
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--fonte-texto);
  font-weight: bold;
  transition: background-color 0.3s;
}

.product-card button:hover {
  opacity: 0.9;
}