/* Importa as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Define as variáveis de cor e fontes para usar em todo o site */
:root {
  --cor-principal: #9091C5;
  --cor-secundaria: #80D4D3;
  --cor-branca: #FFFFFF;
  --cor-da-letra: #111111;
  --cor-do-titulo: #333333;

  --fonte-titulo: 'Bungee Shade', 'sans-serif', system-ui; /* Substitua por 'Benny Black' se instalar localmente */
  --fonte-texto: 'Cookie', cursive;
}

/* Resets básicos e estilos globais */
body {
  margin: 0;
  font-family: var(--fonte-texto);
@media (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  h1, h2, h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
  font-size: 60px;
  background-color: var(--cor-branca);
}

h1, h2, h3 {
  font-family: var(--fonte-titulo);
  font-size: 70px;
  color: var(--cor-branca);
}

p {
  font-family: var(--fonte-texto);
  font-size: 100px;
  color: var(--cor-branca);
  line-height: 1.6;
}