/* Importa as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

/* Define as variáveis de cor e fontes para usar em todo o site */
:root {
  --cor-principal: #9091C5;
  --cor-secundaria: #80D4D3;
  --cor-branca: #FFFFFF;

  --fonte-logo: 'Modak', system-ui; /* Substitua por 'Benny Black' se instalar localmente */
  --fonte-texto: 'Delius', cursive;
}

/* Resets básicos e estilos globais */
body {
  margin: 0;
  font-family: var(--fonte-texto);
  background-color: var(--cor-branca);
}

h1, h2, h3 {
  font-family: var(--fonte-logo);
  color: var(--cor-branca);
}